link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="../c4c-app/c4c-behaviors.html")

dom-module#c4c-app-db-query
  template
    style.
      :host {
        display: none;
      }

  script(src="c4c-app-db-query.js")
