link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="../bjs-app/bjs-behaviors.html")

dom-module#bjs-app-db-query
  template
    style.
      :host {
        display: none;
      }

  script(src="bjs-app-db-query.js")
