link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import" href="bjs-data-service.html")
link(rel="import", href="../bjs-app/bjs-behaviors.html")

dom-module#bjs-app-db
  template
    style.
      :host {
        display: none;
      }

    bjs-data-service#org(route="org", status="{{db.org.status}}", auth="[[auth]]", data="{{db.org.data}}")
    bjs-data-service#group(route="group", status="{{db.group.status}}", auth="[[auth]]", data="{{db.group.data}}")
    bjs-data-service#app(route="app", status="{{db.app.status}}", auth="[[auth]]", data="{{db.app.data}}")

  script(src="bjs-app-db.js")
