<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html" />
<link rel="import" href="/bower_components/iron-form/iron-form.html" />
<link rel="import" href="/bower_components/paper-button/paper-button.html" />
<link rel="import" href="/bower_components/paper-fab/paper-fab.html" />
<link rel="import" href="/bower_components/paper-input/paper-input.html" />
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html" />
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html" />
<link rel="import" href="/bower_components/paper-menu/paper-menu.html" />
<link rel="import" href="/bower_components/paper-item/paper-item.html" />
<link rel="import" href="/bower_components/iron-icon/iron-icon.html" />
<link rel="import" href="/bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="../shared-styles.html" />
<dom-module id="c4c-org-dialog">
    <template>
        <style include="shared-styles">
            :host{
            
            }
        </style>
        <paper-dialog id="dialog" on-iron-overlay-closed="__dialogClosed">
            <content></content>
            <form id="form" is="iron-form" on-change="__formChanged" on-iron-form-presubmit="__formPresubmit">
                <paper-input name="name" label="Name" value="{{__edit.name}}" required="required" auto-validate="auto-validate"></paper-input>
                <paper-dropdown-menu name="type" label="Type" required="required">
                    <paper-menu class="dropdown-content" attr-for-selected="label" selected="{{__edit.type}}">
                        <paper-item label="company">Company</paper-item>
                        <paper-item label="charity">Charity</paper-item>
                        <paper-item label="education">Education</paper-item>
                        <paper-item label="political">Political</paper-item>
                    </paper-menu>
                </paper-dropdown-menu>
                <paper-input name="website" label="Website" value="{{__edit.website}}" required="required" auto-validate="auto-validate"></paper-input>
                <div class="buttons">
                    <paper-button dialog-dismiss="dialog-dismiss">Cancel</paper-button>
                    <paper-button id="submit" autofocus="autofocus" on-click="__formBeginSubmit">Add</paper-button>
                </div>
                <div class="output"></div>
            </form>
        </paper-dialog>
    </template>
    <script src="c4c-org-dialog.js"></script>
</dom-module>
<dom-module id="c4c-orgs">
    <template>
        <style is="custom-style" include="iron-flex iron-positioning iron-flex-alignment"></style>
        <style include="shared-styles">
            :host {
              display: block;
            
              padding: 10px;
            }
            
            paper-fab {
              position: absolute;
              bottom: 30px;
              right: 30px;
            }
        </style>
        <template is="dom-repeat" items="{{orgs}}" as="org">
            <div class="card">
                <div class="layout horizontal">
                    <div class="circle">{{index}}</div>
                    <div class="layout vertical">
                        <h1>{{org.name}}</h1><a href="{{org.website}}">{{org.website}}</a>
                    </div>
                    <div class="flex"></div>
                    <div class="layout vertical">
                        <paper-icon-button icon="delete" on-click="__rmOrg"></paper-icon-button>
                        <paper-button on-click="__updateOrg">Details</paper-button>
                    </div>
                </div>
            </div>
        </template>
        <paper-dialog id="rmOrgDialog" on-iron-overlay-closed="__dialogClosed">
            <h2>Delete Organisation</h2>
            <p>Are you sure? This is permanent!</p>
            <div class="buttons">
                <paper-button dialog-dismiss="dialog-dismiss">No</paper-button>
                <paper-button id="submit" dialog-confirm="dialog-confirm" autofocus="autofocus" on-click="__rmOrgConfirmed">Yes</paper-button>
            </div>
        </paper-dialog>
        <c4c-org-dialog id="editOrg" org="{{__editOrg}}" open="{{__dialogOpen}}" on-dialog-closed="__dialogClosed">
            <h2>{{__dialogTitle}}</h2>
        </c4c-org-dialog>
        <paper-fab id="fab" icon="add" on-click="__addOrg"></paper-fab>
    </template>
    <script src="c4c-orgs.js"></script>
</dom-module>