<link rel="import" href="/bower_components/polymer/polymer.html" />
<link rel="import" href="../shared-styles.html" />
<dom-module id="c4c-users">
    <template>
        <style include="shared-styles">
            :host {
              display: block;
            
              padding: 10px;
            }
        </style>
        <div class="card">
            <div class="circle">4</div>
            <h1>Users</h1>
            <p>Modus commodo minimum eum te, vero utinam assueverit per eu.</p>
            <p>Ea duis bonorum nec, falli paulo aliquid ei eum.Has at minim mucius aliquam, est id tempor laoreet.Pro saepe pertinax ei, ad pri animal labores suscipiantur.</p>
        </div>
    </template>
    <script>
        Polymer({
          is: 'c4c-users'
        });
    </script>
</dom-module>