//-
  @license
  Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
  This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
  The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
  The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
  Code distributed by Google as part of the polymer project is also
  subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt

link(rel="import", href="../bower_components/polymer/polymer.html")
link(rel="import", href="../bower_components/paper-styles/shadow.html")

//- shared styles for all views
dom-module(id="shared-styles")
  template
    style.
      .card {
        @apply(--shadow-elevation-2dp);

        margin: 24px;
        padding: 16px;
        background-color: #fff;
      }

      pre.code {
        background: #333;
        color: #FFF;
        padding: 10px;
        overflow-x: scroll;
      }

      .circle {
        display: inline-block;

        width: 64px;
        height: 64px;

        text-align: center;

        color: white;
        border-radius: 50%;
        background: var(--accent-color);
        margin-right: 20px;
        overflow: hidden;

        font-size: 30px;
        line-height: 64px;
      }
      .circle iron-image {
        width: 100%;
        height: 100%;
      }

      h1 {
        margin: 0px 0;
        color: #212121;
        font-size: 32px;
        font-weight: 300;
      }
      h2 {
        margin: 0px 0;
        color: #212121;
        font-size: 26px;
        font-weight: 300;
      }

      paper-fab {
        --paper-fab: {
          height: 64px;
          width: 64px;
        }
        --paper-fab-iron-icon: {
          width: 32px;
          height: 32px;
        }
      }

      .text-center{
        text-align: center;
      }
      .text-right {
        text-align: right;
      }

      #DataTable {
        height: 700px;
      }
      #DataTable data-table-cell{
        font-size: 13px;
      }
      #DataTable data-table-cell[header]{
        font-size: 16px;
      }
      #DataTable .detail {
        width: 100%;
      }
      #DataTable .detail pre {
        background: #333;
        color: #FFF;
        overflow-x: auto;
      }
