link(rel="import" href="/bower_components/polymer/polymer.html")
link(rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html")
link(rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")

link(rel="import" href="/src/bjs-app-db/bjs-app-db-query.html")

link(rel="import" href="/src/views/behaviors/bjs-view-behaviors.html")

link(rel="import" href="/src/views/users/bjs-user-card.html")

link(rel="import" href="/src/shared-styles.html")

dom-module#bjs-users
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment")
    style(include="shared-styles").
      :host {
        display: block;

        padding: 10px;
      }

    template(is="dom-repeat", items="{{doc.data}}")
      bjs-user-card(
        item="[[item]]",
        index="[[index]]",
      )

  script(src="bjs-users.js")